[2014-05-06 19:29] bitwalker opened #1 "Improve documentation"

[2014-05-17 06:28] #1 closed, assigned to nobody

[2014-06-17 13:12] cloud8421 opened #3 "Encode failing with Enums"
I've tried to dig a bit into the issue, but I'm having a hard time understanding it.

I've created a test case in my fork for it:

https://github.com/cloud8421/exprotobuf/commit/d763718105953054a37fec3fd42cac17310526d7

Have you got any idea on what's happening?

Thanks!

[2014-06-20 04:43] #3 closed, assigned to nobody

[2014-06-23 15:11] pma opened #4 "MatchError while decoding"
Using Elixir 0.14.1
exprotobuf from github master
gpb from github master

[code]

[2014-06-30 01:29] #4 closed, assigned to bitwalker

[2014-11-10 18:26] trevorriles opened #5 "Can't build as a dependency in another project."
When I add exprotobuf and gpb as sole dependencies to a project and try to compile the dependencies, gpb compiles fine while exprotobuf fails to compile with the following error.

[code]

Here is my `mix.exs` file for reference:

[code]

[2014-11-10 18:50] #5 closed, assigned to bitwalker

[2015-01-08 14:06] eraserewind opened #6 "undefined function: :gpb_parse.post_process/2"
Hi, i'm having this issue with exprotobuf 0.8.5 and [the mumble proto](https://github.com/mumble-voip/mumble/blob/master/src/Mumble.proto):

[code]

lib/opnd/mumble/protocol.ex:

[code]

[2015-01-08 14:29] eraserewind commented on #6
It also fails when using the first example from the README:

[code]

[code]

[2015-01-08 20:35] bitwalker commented on #6
Taking a look now, I'd guess an upgrade of `gpb` broke this, I'll report back once I have a fix.

[2015-01-08 20:52] bitwalker commented on #6
Ok after attempting to replicate this, I'm unable to do so. I pushed some additional tests to master, could you pull `exprotobuf` separately, fetch deps, then run the tests? I'd like to narrow down what the cause is.

[2015-01-09 12:15] eraserewind commented on #6
Well... it works now :/ With a separate pull of `exprotobuf` and in my project. :confused:

[2015-01-09 18:29] bitwalker commented on #6
Huh, that's bizarre. Not sure what might have caused that, but I'll close this for now, feel free to reopen it if you run into this again and we can try and reproduce it somehow.

[2015-01-09 18:29] #6 closed

[2015-01-13 02:38] davebryson commented on #6
I'm having the same exact problem.  Pulling your code base and running the tests works fine.  But trying even your simple examples in a separate projects fails with the error mentioned above.  I even attempted to pull the dep for exprotobuf directly from github:

    defp deps do
      [{:exprotobuf, github: "bitwalker/exprotobuf"},
      {:gpb, github: "tomas-abrahamsson/gpb"}}
    end

Still hav

[2015-01-13 02:48] davebryson commented on #6
It appears gdb no longer has the `:gdb_parse:post_process` .  According to the latest source here's the definition now:

    -module(gpb_parse).
    -export([parse/1, parse_and_scan/1, format_error/1]).
    -file("src/gpb_parse.yrl", 279).
    -include_lib("eunit/include/eunit.hrl").
    -include("../include/gpb.hrl").
    -export([post_process_one_file/2]).
    -export([post_process_all_files/2])

[2015-01-13 03:01] davebryson commented on #6
So the issue is with the latest commit of gdb.  As I mentioned above gdb has changed the function naming.   If I use the same gdb commit number in mine mix.lock for gdb as you're using it works.

    {:git, "git://github.com/tomas-abrahamsson/gpb.git", "a6da429e3f433b958ae4f2806db57cd6451afb05",[]}

[2015-01-14 19:02] bitwalker commented on #6
Ah, makes sense. I'll dig into the `gpb` source and figure out what I need to do to migrate to the latest code. In the meantime I'll add a sha1 to the dep definition so that it's not just pulling the latest version every time. I would've expected the mix.lock to be honored, but I guess that's not the case.

[2015-03-20 23:34] koudelka opened #8 "Infinite loop upon encode/1 with inject: true."
When using the `inject` option, it looks like the `defs` function (https://github.com/bitwalker/exprotobuf/blob/master/lib/exprotobuf/define_message.ex#L87 ) loops infinitely. `encode/1` calls `defs` (as an argument to `Encoder.encode/2`), `defs(_ \\ nil)` responds and calls `@root.defs` (itself)

Should injected modules also get the global defs helper from https://github.com/bitwalker/exprotobuf/

[2015-03-24 20:28] koudelka commented on #8
opened https://github.com/bitwalker/exprotobuf/pull/9

[2015-03-24 20:28] #8 closed

[2015-06-17 11:23] mr-bt commented on #6
Hi,

Just bumped into this today when updating from 0.8.5 to 0.9.0.

Here is my fix
brfore:
def parse(defs, options) when is_list(defs), do: :gpb_parse.post_process(defs, options)

after:
  def parse(defs, options) when is_list(defs) do
    {:ok, defs} = :gpb_parse.post_process_one_file(defs, options)
    :gpb_parse.post_process_all_files(defs, options)
  end

@bitwalker do you want me to make a p

[2015-06-17 14:44] bitwalker commented on #6
@mr-bt Thanks for the PR! I'll push a new release today.

[2015-07-29 19:24] mmmries opened #15 "Encoding and Decoding messages that specify their extensions range"
I'm experimenting with the possibility of using Elixir in an existing system that has a bunch of protobuf rpc messages defined. I've been really impressed so far with `gpb` and `exprotobuf` :heart:

One issue I just ran into is that if my message defines its valid range for extension fields I get an encoding/decoding error. Here is a minimal reproducible (as minimal as I knew how to make it at lea

[2015-07-29 20:06] mmmries opened #16 "Encoding and Decoding messages that include service definitions"
Similar to #15 if I try to define a message that includes a service definition I get an `CaseClauseError`.

Reproducible test:

[code]

I get these results

[code]

[2015-07-29 20:43] bitwalker commented on #15
@mmmries Hey there! Yeah at one point I think gpb didn't support extensions yet, and it appears that it now does. I'll try and take a look ASAP on getting this implemented. Feel free to dive in, but I have to warn you, exprotobuf is macro heavy in order to work the way it does and is a bit dense to read through as a result, so definitely ask questions and I'll do what I can to help guide you throu

[2015-07-29 20:46] bitwalker commented on #16
It looks like we can get the service defs from :gpb, so this one we can add to the TODO after extensions.

[2015-07-30 18:28] mbilokonsky opened #18 "Can't parse `syntax` field (see thread for more details)"
I'm not sure where this bug lives, exactly, but it looks like maybe :gpb is throwing up when attempting to parse this file?

https://developers.google.com/transit/gtfs-realtime/gtfs-realtime-proto

I pulled down that file, stuck it into /priv, and wrote the following module definition:

[code]
== Compilation error on file lib/tap/protobuf/GTFS.ex ==
** (ArgumentError) argument error
    :erlang.by

[2015-07-30 19:19] Tuxified commented on #18
Hi,

I saw your question on slack, seems like the line `syntax = "proto2";` causes the problem. Removing that line helped me to compile the module. Not sure what the effect is of removing that line (will it be able to process / decode data), but it gives you a hint.

Hope that helps.

[2015-07-30 19:25] mbilokonsky commented on #18
thanks! Can I ask how you were able to identify that line as the culprit?

[2015-07-30 21:00] mbilokonsky commented on #18
was gonna try to write some failing tests but the whole thing just crashes and exists with that `syntax` field even in the module def so I'm gonna say that's a gpb issue...?

[2015-07-30 21:34] bitwalker commented on #15
Support for this was added in 0.11.0 :)

[2015-07-30 21:34] #15 closed

[2015-07-31 03:56] mmmries commented on #15
Wow, that was a super fast turnaround. Thanks! If I can get this proof of concept for my job working, I'll try to jump in and handle the rpc definitions.

[2015-07-31 22:38] koudelka commented on #18
The syntax declaration isn't part of the [proto2 spec](https://developers.google.com/protocol-buffers/docs/proto), as far as I can tell. I think it might have been something they added to the [proto3 spec](https://developers.google.com/protocol-buffers/docs/proto3).

I think it's an upstream issue, since gpb is responsible for parsing.

[2015-08-03 15:34] bitwalker commented on #18
@mbilokonsky @koudelka  Yeah looks like it was added [here](https://github.com/google/protobuf/blob/master/CHANGES.txt#L220). I'm not sure what the status of proto3 support is in gpb at the moment, but any issues related to the parser would have to get fixed upstream before we can support it in exprotobuf :(

[2015-08-11 15:01] tommyogp commented on #18
:+1:  having this issue as well, even after I removed `syntax`, some portions of our codes contain elements that can't be parsed, e.g. `extend`. Hope this can be fixed soon. I'm gonna do some investigation as well.

[2015-08-11 16:02] bitwalker commented on #18
@tommyogp Definitely hit up the `gpb` repo and open an issue requesting proto3 support, until it's supported upstream, there isn't much I can do on this :(

[2015-08-15 15:57] kwojtaszek opened #20 "Oneof support"
It looks like oneof feature of protobuf isn't supported by exprotobuf and causes compilation error.

Here's example proto file:
[code]

that cases problem during compilation:
[code]

[2015-08-15 21:56] kwojtaszek opened #21 "Handling imports"
We have defined a base.proto file:
[code]
also additional file authorization.proto file:
[code]

It looks like exprotobuf doesn't support for imports at all, because on compilation time it returns:
[code]

[2015-08-17 20:56] bitwalker commented on #21
@kwojtaszek This is now working in master, could you test and verify on your end?

[2015-08-17 20:57] bitwalker commented on #21
Also I added tests in `test/protobuf/parse_test.exs` and `test/protobuf/import_test.exs` if you want to see how I'm testing the implementation.

[2015-08-17 20:57] kwojtaszek commented on #21
@bitwalker sure, will do it

[2015-08-18 21:23] kwojtaszek commented on #20
@bitwalker pull request with oneof fields support is ready for review

[2015-08-19 13:44] rafal-radziszewski commented on #20
@bitwalker We added some fixes to style and simplified some parts, take a look at it when you can.

[2015-08-20 14:40] rafal-radziszewski commented on #21
I checked it. Imports work, but there is a problem with namespacing - all imports reside in global namespace, which probably (I'm not sure yet) makes it incompatible with protobuf library definitions.

[2015-08-27 22:20] dokie commented on #21
I'm also bumping into this issue. The problem with the test case is that imports.proto doesn't make use of imported.proto. If we make the imports.proto
[code]
The mix test yields
[code]

[2015-08-27 22:24] rafal-radziszewski commented on #21
@dokie Actually, it is only namespacing issue. If you just change
`authorization.AuthorizationServerMessage` to `AuthorizationServerMessage` it works just fine. Packages do not take part in namespacing, the definitions are just copy-pasted in the place of import. The good thing is, that it does not create problem with binaries - I checked it encoding message with protoc compiled python files - rea

[2015-08-27 22:32] dokie commented on #21
I know, thanks for the reply. I cannot get my particular imported proto files to compile, even if I don't care about the namespacing.
**common.proto**
[code]

Used in other proto file, location_coordinates.proto
[code]

This yields the following error which I can't quite follow:
[code]

Any help would be great.

[2015-08-27 22:37] rafal-radziszewski commented on #21
Could you possibly show directory structure? If I had to guess, I would say that imported file is in different directory.

[2015-08-27 22:42] dokie commented on #21
[code]

where location_coordinates.ex has
[code]

[2015-08-27 22:46] rafal-radziszewski commented on #21
In that case, I would say the inject is the problem. The definition gets pulled into current module, and there is no place to put the one that is imported.

[2015-08-27 22:51] dokie commented on #21
So a bug in the handling of import in conjunction with inject then? If so I'll submit an issue and include my files, then fork and try to resolve over the next few days.

[2015-08-27 22:56] rafal-radziszewski commented on #21
I'm not sure if you can call it a bug. If you inject the definition of the message, your current module basically defines a struct in-place (as far as I understand it, I'm Elixir newbie). I don't see where should be imported message put. In your case, I would change the module you import protobuf in to `Tribune.Common`. Then you would have access to `Tribune.Common.LocationCoordinates`, `Tribune.C

[2015-08-27 23:01] dokie commented on #21
OK, thanks. I'm going to look a bit harder at refactoring the code.

It should inject the importing proto as the struct of the module, but as you say, I can't therefore see why the imported proto (which should be transformed to a struct) does not just get injected in the module too.

[2015-08-27 23:30] rafal-radziszewski commented on #21
Because inject makes name of the module name of the structure defined in proto and the two are indistinguishable since (or do they need to be named the same? example is not clear). As far as I know, Elixir allows for one struct to be defined within the module. Other definitions would have to either be nested (as I said, probably not the best default behaviour) or put somewhere else. I believe inje

[2015-08-30 06:25] DylanGriffith opened #23 "package not included in module namespace"
I'm not sure if this is a bug or feature request or if I'm just misunderstanding how this is supposed to work but in testing it seems like this library doesn't include the `package` name in the module namespace. I have the following test to explain what I mean:

[code]

As an aside if this is not easy to make it work this way is there any underlying erlang code or something I can make use of for e

[2015-08-30 08:38] DylanGriffith commented on #23
I have a working solution: https://github.com/bitwalker/exprotobuf/compare/master...DylanGriffith:with-package-name

It's pretty hacky as I am new to elixir, but happy to refactor if you have any suggestions.

[2015-08-31 10:19] DylanGriffith commented on #21
Is there likely going to be a fix for the original issue here? I'm having problems too with my existing protobufs. I need my imports to take the package namespace. I figure out a way to hack the package namespace into the main message handing but it doesn't work with imports. I suppose more generally is there likely to be support added for the package namespace? We have a tonne of existing message

[2015-08-31 11:03] rafal-radziszewski commented on #21
Just to be clear - if you remove namespaces there is a binary compatibility. The problem is, that you need to maintain different proto files for elixir (with namespacing removed).

[2015-08-31 23:37] DylanGriffith commented on #21
@rafal-radziszewski understood, but unfortunately maintaining multiple proto files is not an option for us. We have a tonne of existing proto files which make use of `package` and they would all need to be updated to somehow (probably manually) to even get them to compile. Then with the duplicate files we would end up missing out on a common communication language. I've actually figured out that p

[2015-09-30 17:51] bitwalker commented on #20
@kwojtaszek @rafal-radziszewski I've made some comments, then we just need to squash the commits and I can merge it :+1:

[2015-10-01 15:35] vans163 opened #24 "protodefs are not recompiled if changed"
nevermind this seems an issue on my end. Looking into further.

Issue was I did not realize that the lib was not recompiling the defs when I changed the file.  There should be a check I think perhaps you can include the file + a checksum.

Everytime use Protobuf executes, check the protofiles MD5, if it does not match the md5 you wrote, recompile the defs?

[2015-10-01 16:46] kwojtaszek commented on #20
closing

[2015-10-01 16:46] #20 closed

[2015-10-01 19:37] rafal-radziszewski commented on #24
As far as I know:

Mix recompiles files that changed and are in paths specified in elixirs_paths. If a file changes, it's recompiled. In case of proto changes, you would have to tell mix to recompile importing module any time one of proto files changes. I do not think that's easy to do. You always can recompile your project when you change proto definitions.

[2015-10-01 22:04] bitwalker commented on #21
@DylanGriffith Things have been really crazy the past month or so for me, so I haven't had a chance to look into this, but thanks for tracking down that option, as soon as I get some free time I'll dive in!

[2015-10-01 22:07] bitwalker commented on #23
@DylanGriffith Thanks for getting this working, I've glanced over the diff, but I'll have to give it a little more in depth though to address your comments. We can probably just pass the Config struct along, but that's without looking very closely at it.

[2015-10-08 10:35] saratchandra92 opened #26 "Cannot build as a dependency in Elixir 1.1"
The error I am getting when trying to compile the project is

[code]

I am using Elixir 1.1 and Erlang 18(erts-7.1)

Here is my mix.exs file

[code]

[2015-10-08 16:13] bitwalker commented on #26
`exprotobuf` supports Elixir 1.1/Erlang 18+ (which I verified locally with a new project generated by `mix new`), it appears that perhaps your local rebar is the problem, or potentially you have an older version of `exprotobuf` in your `mix.lock`?

To get an updated rebar:

- `rm ~/.mix/rebar`
- `mix do clean, compile` (in project dir of course)
- Mix will prompt you to install rebar, do so

If yo

[2015-10-08 17:16] saratchandra92 commented on #26
I have tried this on another computer and I am getting the same problem. I forgot to mention that, I am getting this error when I run `iex -S mix`
Is the version that I am running correct?

[2015-10-08 17:19] bitwalker commented on #26
@saratchandra92 Did you try the two steps I described above? If so and you are still having problems, could you post your `mix.lock` and tell me what OS you are running on? 0.11 is the latest exprotobuf, so the version appears to be correct, but I can only confirm that if I can see your `mix.lock`.

[2015-10-08 17:32] saratchandra92 commented on #26
@bitwalker I tried the steps you gave me, but there's no difference. Here is my mix.lock file.
[code]
I am running Linux Mint 17.2

[2015-10-08 17:35] bitwalker commented on #26
@saratchandra92 What happens when you run `mix deps.compile gpb`?

[2015-10-08 18:10] saratchandra92 commented on #26
@bitwalker I get the same error.
[code]

[2015-10-08 21:01] bitwalker commented on #26
@saratchandra92 Could you paste the output of `~/.mix/rebar --version` for me?

[2015-10-09 06:16] saratchandra92 commented on #26
Sure. Here is it.
[code]

[2015-10-09 16:17] bitwalker commented on #26
@saratchandra92 I'm running the exact same version of everything, our only difference is OS. Could you try the following:

- `git clone https://github.com/tomas-abrahamsson/gpb`
- `cd gpb && ~/.mix/rebar compile`

Hopefully we can get a more useful compilation error there.

[2015-10-12 04:45] saratchandra92 commented on #26
@bitwalker I get the same error.
[code]

[2015-10-12 04:53] saratchandra92 commented on #26
@bitwalker I get the same error.
[code]

[2015-10-12 17:21] bitwalker commented on #26
@saratchandra92 Could you try running `make` in that directory instead of `~/.mix/rebar compile`? I have no idea why it won't build on your machine, but I'm beginning to suspect something is wrong in your environment.

[2015-10-13 06:20] saratchandra92 commented on #26
@bitwalker I have tried this on a different Ubuntu box and the samething happens. Maybe there is aproblem with Ubuntu.

By running `make` I get the following error.
[code]

[2015-10-13 14:39] bitwalker commented on #26
@saratchandra92 I know what the problem is, you are missing some Erlang packages. Run `sudo apt-get install erlang-eunit`, and that error will go away.

[2015-10-29 11:28] olgeni opened #27 "Missing tag for version 0.11.0"
Hi,

Can you tag version 0.11.0? It is on Hex, but there is no git tag :)

[2015-10-29 14:25] bitwalker commented on #27
I can definitely do that, give me a few :)

[2015-10-29 14:29] bitwalker commented on #27
Actually it turns out there is a tag for it! At least in a clone of the repo it shows up alongside commit 6f5f4bb.

[2015-10-29 14:29] #27 closed

[2015-10-29 14:53] olgeni commented on #27
It's true, I didn't see the other tags. Now I have 0.12.0. Thanks! :+1:

[2015-11-04 06:02] ajrob27 opened #28 "ParseError when reading proto file"
When compiling my mix project I get the following error:
[code]

I’m importing .proto files, I’m not sure what’s wrong and/or where to go next to continue debugging it.

My repo lives here, https://github.com/ajrob27/csgo_parse. I've created another branch where I remove most everything from the .proto file I am trying to read, https://github.com/ajrob27/csgo_parse/tree/bugfix/protobuf.

In the `b

[2015-11-09 16:59] #26 closed

[2015-11-09 17:04] bitwalker commented on #28
The problem is that [tomas-abrahamsson/gpb](https://github.com/tomas-abrahamsson/gpb) doesn't yet support `proto2` syntax, namely extensions. I'm waiting for it to be merged there before it can be supported in `exprotobuf`. Sorry for the delay :(

[2015-11-09 18:47] ajrob27 commented on #28
Oh awesome! Thanks Paul, I'm glad it's not a bigger issue than that.

[2015-11-09 18:47] #28 closed

[2015-11-16 05:00] mmmries commented on #16
I was just about to start working on this tonight, but I realized that it is already supported. Something like this works now:

[code]

Then at runtime I can do:
[code]

This gives me the ability to reflect on all my protobuf service definitions and see their respective types. Woohoo! Thanks @bitwalker

[2015-11-16 05:00] #16 closed

[2015-11-16 06:25] bitwalker commented on #16
I hadn't revisited this since some recent changes were merged, I'm glad this is resolved already!

[2015-11-17 15:22] mmmries commented on #21
The way we handle this issue in [our ruby library](https://github.com/ruby-protobuf/protobuf) is to run our generator on a whole directory of `.proto` files. That way we end up generating an entire namespace and anything that gets `import`ed will also have been generated.

I wonder if we could do something like:
[code]

In our use case `definitions/atlas` is also the `imports_dir` so it makes up a

[2015-11-17 21:27] DylanGriffith commented on #21
@mmmries Funnily enough I had the same requirements and I've gotten that working in [my branch](https://github.com/DylanGriffith/exprotobuf/tree/dgvz) . The problem is that I had to do so much hacking at it that the tests aren't passing anymore, mainly because I removed some features. At the moment it works like

[code]

The generated modules keep their original namespacing (eg. they won't start w

[2015-11-17 22:06] mmmries commented on #21
@DylanGriffith I'm glad I'm not just some crazy person using protobuf in a weird way!

I've been playing locally with the idea of adding support for this. And I think the easiest way to make it work would be for the `from` option to support receiving a list of files rather than just a single path. That way simple cases continue to work, but you and I can use `Path.wildcard` to target an entire dir

[2015-11-17 23:34] DylanGriffith commented on #21
I don't actually know if `use` is the right way to do this at all, but then I don't know elixir well enough to know how to do it any other way. I just want some way to have every protobuf compiled and accessible. The one problem I had with `use` is that it only recompiles when the `.ex` file containing the using module is changed rather than when the .proto files change.

As I said I'm not really

[2015-11-20 00:47] bitwalker commented on #21
@DylanGriffith Just thinking about the recompilation issue: I think that's something fairly easily resolved, as I do something similar with my `conform` library and it's PEG file for the conf grammar. I'll have to code up my gut solution to see if it works.

[2015-11-20 03:09] DylanGriffith commented on #21
@bitwalker it would make me very happy to see a solution to that. If for whatever reason you can't find the time to work on that It would be great if you could point me in the direction of implementing that myself.

[2015-11-24 01:09] vans163 commented on #26
erlang-parsetools is also a dependent package, I had the same error until I installed that.  The depends should be listed on the README.md

[2015-11-24 15:13] ibizaman opened #31 "Is there a polymorphic way to encode/decode ?"
Sorry I am fairly new to elixir.
Is there something like a protocol implemented by all protobuf modules?

It would be awesome to be able to do:
[code]

I tried something like:
[code]
But of course it fails because it does not know `Msg`.

Could this be achieve with macros?

[2015-11-24 16:14] bitwalker commented on #31
What you sketched out should work just fine, however I think the problem is that you are not using the fully-qualified name for `Msg`. I can't tell you what it should be exactly without knowing what is in `file.proto`, but I assume it should be something like `Objects.Msg`.

In any case, this is a good idea, and I'm pretty sure this can be implemented fairly easily within exprotobuf by injecting t

[2015-11-24 16:32] bitwalker commented on #31
Ok, with my morning coffee in full effect, I realize why I'm totally wrong about the above.

Protocols don't work for decoding because you have to explicitly define what type you are decoding anyway (protocols require type information to delegate to the correct `defimpl`, and a plain binary isn't enough).

For encoding, we could provide a protocol abstraction, however it would be a very thin proto

[2015-11-24 16:45] #31 closed

[2015-11-24 16:47] bitwalker commented on #31
@ibizaman I've added a `Protobuf.Serializable` protocol, which defines a `serialize` function. It is automatically implemented for any exprotobuf generated module/struct, so you shouldn't have to do anything. Just note that if you do not compile protocols, it will be slow to use versus the more direct call to the specific module's encode function. If you compile protocols, there should be no diffe

[2015-11-24 17:55] ibizaman commented on #31
Wow thanks a lot, such reactivity!
Indeed, to decode you must specify the type. At least it works for encoding.

[2015-11-25 17:49] saratchandra92 commented on #26
@vans163 This solved the issue for me. Thanks!!

[2015-11-26 14:31] rafal-radziszewski opened #32 "Protobuf.Encoder not available on production"
We included exprotobuf in our production application. After deploying release to staging, encoding does not work in staging environment. We get following error:

```** (UndefinedFunctionError) undefined function: Protobuf.Encoder.encode/2 (module Protobuf.Encoder is not available)```

Exprotobuf has been added as an application in mix. Currently we inverstigate the issue.

[2015-11-26 14:34] rafal-radziszewski opened #33 "Problems with building release in project including exprotobuf"
Some change that occured after commit 58f5d44 causes mix release task (exrm version 0.19.9) to fail on building tar archive. Issue has been narrowed down to exprotobuf in current HEAD. After reverting to mentioned commit everything started to work again.

[2015-11-27 12:59] rafal-radziszewski commented on #32
We tracked down the issue to the following to reasons:

1. Error above was a result of not having exprotobuf in the apps. Our builds were not correctly started, so we thought that it is already added. It was not on the working version.
2. Gpb needs to be added to exprotobuf applications. It will be extremely small merge request.

[2015-11-27 18:02] bitwalker commented on #32
Closed via #34

[2015-11-27 18:02] #32 closed

[2015-11-27 18:04] bitwalker commented on #32
Also released in 0.13.0

[2015-11-27 18:05] bitwalker commented on #33
Is this resolved after #34 was merged?

[2015-11-29 10:49] rafal-radziszewski commented on #33
Nope, problem here stands. Here is the trace:

[code]

[2015-11-30 16:09] bitwalker commented on #33
@rafal-radziszewski I can't reproduce this with a new project. Could you share your mix.exs and how you are invoking the release task?

[2015-12-20 22:27] chilicat opened #38 "Can not encode certain data structures"
Please merge request, it provides a test case.
https://github.com/bitwalker/exprotobuf/pull/37

[2015-12-21 01:55] mmmries commented on #23
@DylanGriffith is this resolved by the work we did for `1.0.0.rc0`?

[2015-12-21 02:10] mmmries commented on #21
I think we can close this now based on the work for `1.0.0-rc1`

[2015-12-21 02:11] DylanGriffith commented on #23
@mmmries Yes

[2015-12-21 02:13] #23 closed

[2015-12-22 03:30] mmmries commented on #38
@chilicat feel free to post some details about your decoding problems here. I'm not sure if I'll be able to help, but I don't mind giving it a shot.

[2015-12-29 20:53] bitwalker commented on #38
@chilicat You closed #37, is this issue closable as well?

[2015-12-29 20:54] #21 closed

[2015-12-31 02:41] #38 closed

[2016-01-06 21:13] Inkp opened #39 "Cannot compile exprotobuff as dependency for Elixir 1.2 on Win10"
When trying to compile project I get the following output:
[code]

mix.exs file contents:
[code]

mix.lock contents:
[code]

rebar --version
[code]

[2016-01-06 22:58] mmmries commented on #39
It looks to me like this is probably due the fact that [gpb's Makefile](https://github.com/tomas-abrahamsson/gpb/blob/8495d7b3c2562988b80b326dc93343a946e715d6/Makefile#L45) references `/bin/sh` and tries to use that to execute some commands.

I don't know for sure how much support `gpb` has for windows overall.

[2016-01-06 23:38] Inkp commented on #39
Cloning `gpb` and running `"C:\Program Files\erl7.2.1\bin\escript.exe" "c:/Users/Денис/.mix/rebar" compile` inside seems to finish successfully. Are you sure it is OS specific problem? And is there any workaround for this?

[2016-01-06 23:40] mmmries commented on #39
Unfortunately I have very little rebar or windows experience. I'm not sure what the difference is between how mix calls `rebar` vs how it runs when you call it directly.

[2016-01-07 09:21] Inkp commented on #39
For no apparent reason it now works. The only real thing I did was reinstalling erlang and elixir

[2016-01-07 09:21] #39 closed

[2016-01-30 02:02] Dimagog commented on #39
Compiling from cmd.exe shell does not work, but compiling from bash shell (e.g. the one installed by Git) works fine.

[2016-02-20 16:30] mingchuno commented on #33
This related issue may help
https://github.com/bitwalker/exrm/issues/299

[2016-02-20 20:00] mingchuno opened #41 "mix test fail on Elixir 1.2"
As shown in the travis CI build, `mix test` fail on Elixir 1.2
https://travis-ci.org/bitwalker/exprotobuf/jobs/110644498

After looking through the log, all the fail are in the encode part...

[2016-02-28 13:24] dokie commented on #24
Try something like this
[code]

[2016-02-29 01:48] #41 closed

[2016-05-13 23:24] Inkp commented on #18
Looks like proto3 is now supported by gpb. Can we expect update of this repo as well?

[2016-06-04 18:09] pcewing opened #43 ""oneof message {}" Causes parsing failure."
The following proto definition appears to break the parser:

[code]

The error:
[code]

The culprit seems to be the "oneof message" line and my guess is that the parser expects message to be a keyword; however, I haven't had a chance to dig into what it does yet. Protoc doesn't complain about this so I am assuming it's a valid proto definition.

[2016-06-15 18:31] pcewing commented on #43
Reading through the gpb README I noticed this in the caveats section:

*The gpb does accept reserved words as names for fields (just like protoc does), but not as names for messages. To correct this, one would have to either rewrite the grammar, or stop using yecc. (maybe rewrite it all as a protoc plugin?)*

It's a known issue with the underlying library, so this can be closed.

[2016-06-15 18:31] #43 closed

[2016-07-25 01:26] rorra opened #46 "ProtoBuf version 3 not supported"
Version 3 of Protocol Buffers is not supported. At least it gives me an error on proto files starting with

    syntax = "proto3";

Any plans to support Protocol Buffers v3? Otherwise if you give me some directions I may be able to submit a PR

[2016-07-25 02:19] rorra commented on #46
Nevermind, was using an old version

[2016-07-25 02:19] #46 closed

[2016-07-30 22:49] bitwalker commented on #18
The latest release contains the latest release of gpb. I'll close this for now. Please open up specific issues as needed if things are still missing.

[2016-07-30 22:49] #18 closed

[2016-07-31 16:27] tony612 commented on #18
@bitwalker How about publishing a new version? I need gpb 3.24 :)

[2016-07-31 17:44] bitwalker commented on #18
@tony612 done :)

[2016-08-01 11:58] tony612 commented on #18
@bitwalker 👍  Thanks! ❤️

[2016-09-07 20:26] Linicks opened #49 "Proto 3 support ?"
Are there plans to support Proto 3 any time in the near future ?

Thanks!
--Nick

[2016-09-09 20:42] meadoch1 opened #50 "Support in .new for composite messages"
The library does not appear to instantiate children messages for a message which has other messages declared as an attribute.  For example, using the Messages.Msg definition in the Readme, calling

[code]
results in the following
[code]

It appears that the value for "sub" is just taken at face value and assigned rather than interpreted as another set of values for a different type of message.  I

[2016-09-12 20:44] bitwalker commented on #49
I've just pushed an update to the latest version of `gpb`, which is what exprotobuf uses for parsing ProtoBuf definitions. There is proto3 support available in that version. I haven't been able to do testing on what features work out of the box, and which things I need to extend exprotobuf to handle properly. Give 1.2 a shot and let me know if there are things missing and I'll look into it.

[2016-09-12 20:44] #49 closed

[2016-09-12 20:45] bitwalker commented on #33
Closing this as it's a hard limit imposed on us by `systools` when unpacking releases. Further work on fixing this in the future will be handled via the exrm/distillery projects.

[2016-09-12 20:45] #33 closed

[2016-09-12 22:00] Linicks commented on #49
@bitwalker, Fantastic!  I give the updated version a try;

[2016-09-13 06:12] fireyang commented on #24
@dokie external_resource is not work ,why?

[2016-10-11 15:23] sheharyarn opened #52 "** (Protobuf.Parser.ParserError) ('syntax error before: ', '\'{\'')"
Hi, this is my first time working with Protobuf in general, and I'm trying to read a proto file I have, but get this error:

[code]

I get the error on the `Identifier` line:

[code]

I have absolutely no idea what to do or how to fix this. Commenting out `repeated group Identifier = 18 {` block fixes this but I can't do that, because my entire proto file is full of such blocks. Is this a protobuf

[2016-10-11 17:48] sheharyarn commented on #52
This might be an overkill but my current workaround is to use [`protobufjs`](https://github.com/dcodeIO/ProtoBuf.js/):

[code]

I rather come up with an Elixir/Erlang only solution, but this would have to do until I can figure out why ExProtobuf doesn't work for my proto file.

[2016-10-20 00:58] nii236 commented on #52
...Wow, that's great. I was looking for proto3 syntax support for this lib but what you posted is a great workaround, @sheharyarn

[2016-10-20 09:15] sheharyarn commented on #52
I wrapped it in it's own module @nii236. You can check it out on [Github](https://github.com/sheharyarn/explay/blob/master/lib/explay/protobuf.ex).

[2016-11-05 13:58] mengelhart opened #54 "nested package support?"
I'm trying to test out exprotobuf with an existing large schema that has packages such as:

[code]
I can't seem to figure out how you'd call new on a fully qualified Employee object.   I  can call Employee.new and that seems to work but after looking into normalize_name and running some local tests it appears to output (for the above package example)
my_package == My_package
pb == Pb
person == Per

[2016-11-05 15:06] mengelhart commented on #54
My bad - I wasn't namespacing by a containing module.    All good!    Sorry about that.

Mike

[2016-11-05 15:06] #54 closed

[2016-11-14 13:42] sotte opened #55 "Proto3 support"
Hey, I think `exprotobuf` does not support proto3, but I might be wrong. In any case, noting the supported version that in the README would be great!

Thanks!

PS: I guess I should mention that I'd like proto 3 support :)

[2016-12-20 05:12] bitwalker commented on #55
It does indeed, via `gpb` the underlying protobuf parser :)

[2016-12-20 05:12] #55 closed

[2016-12-20 07:52] sotte commented on #55
Great! I think this should be mentioned in the README.

[2017-01-03 20:18] cjbottaro opened #57 "@moduledoc false for generated modules"
Anyway to do this?  Thanks.

[2017-01-04 01:14] #57 closed

[2017-01-04 01:15] bitwalker commented on #57
I published a new release which sets moduledoc false for generated modules.

[2017-01-04 03:38] cjbottaro commented on #57
Thank you!

[2017-01-11 08:40] Zert opened #59 "hex.pm update"
Hello

Could you please update a package on hex.pm with commit 6c9b76d950856957b7fb74fa7f16daeae777ae74?

Thanks a lot!

[2017-01-13 04:01] bitwalker commented on #59
Done :)

[2017-01-13 04:01] #59 closed

[2017-01-13 04:19] Zert commented on #59
Thank you!

[2017-01-23 18:17] stocks29 opened #60 "encode and decode are no longer completely reversible"
When relying on default fields decoding may produce different values than the structures created with `new()`.

I have tests which confirm that encode/decode are reversible which worked fine with 1.2.1, but now fails with 1.2.4. The reason being, that the decoded structure has default values (0 or int, false for boolean) whereas the unspecified values for newly created structures all have values o

[2017-02-08 13:46] amatalai commented on #60
It's little disappointing when patch version update that should fix elixir warnings makes your application totally broken.

I created temporary fix
`{:exprotobuf, github: "amatalai/exprotobuf", branch: "proto2-fix"}`
by reverting #56
Note that I have no intention to maintain separate version and it may be removed from my github when no longer necessary.

[2017-02-08 15:16] #60 closed

[2017-02-08 15:29] bitwalker commented on #60
I've fixed the handling of default values in the constructors, and released a new point release 1.2.5 with the fix.

@amatalai It's certainly something I try to avoid doing, but I no longer actively use protobufs in any projects, and thus this project is maintained by community effort - if you fix a bug, and even go so far as to fork the repo and fix it in your fork, why wouldn't you open a PR, or

[2017-02-08 15:56] amatalai commented on #60
@bitwalker I didn't create PR because it was workaround not fix and as I said in previous comment I have no intention to maintain fork.

[2017-02-12 02:42] tiagopog opened #61 "Support for :mapfields_as_maps"
Hey there!

Recently I've opened an issue on [`grpc-elixir`](https://github.com/tony612/grpc-elixir/issues/9) trying to figure out a way to parse proto's maps as Elixir's maps rather than a list of tuples (default).

Taking a look at `exprotobuf` and `gpb`, I saw that the second [accepts an option](https://github.com/tomas-abrahamsson/gpb/blob/b2ed4c87f3f4629a1eb4bb24abc29b4263bc5ffd/src/gpb_compi

[2017-02-14 17:39] bitwalker commented on #61
I'll take a look at this, I wonder if that's a more recent option, as I don't recall it being present before. We definitely want to support it!

[2017-02-14 18:51] bitwalker commented on #61
So looking at the code, options provided via the exprotobuf API are never passed to `:gpb`, they are set automatically based on context. I'll look into making those options default, and see if that causes any backwards compatibility issues - if not, we're good, if they do, then I'll need to provide a way to expose it as an option and do a deprecation cycle.

[2017-02-14 19:05] tiagopog commented on #61
Sounds legit to me, @bitwalker 👍

[2017-03-13 20:50] alexander-alvarez opened #62 "Imported proto definitions?"
Hey -- I'm trying to import a proto definition, and what I'm trying to do isn't covered by an existing test case, so I couldn't model it off of that.

Basically I want to import the struct definition from [`google.protobuf`](https://github.com/google/protobuf/blob/master/src/google/protobuf/struct.proto#L33 )

[code]
But when I call `mix grpc.gen` I get `Reference to undefined message Struct`... I

[2017-03-14 15:10] alexander-alvarez commented on #62
https://github.com/tony612/grpc-elixir/issues/8

[2017-03-14 15:10] #62 closed

[2017-03-20 23:02] tomas-abrahamsson commented on #52
Hi, sorry for chipping in so late, didn't notice this until now. The `gpb`, which Exprotobuf uses for parsing, does not support `group`s. When I first implemented `gpb`, the `group` feature was already [deprecated](https://developers.google.com/protocol-buffers/docs/proto#groups) and the details about their wire format were a bit scarce, so I never got around to do it. Since you've found a workaro

[2017-03-31 10:30] mweberUKL opened #63 "Missing optional values not decoded correctly"
When creating instances of messages, the optional values are correctly set to `nil`. But when decoding messages with optional values, the resulting struct-instance has the optional values to type-defaults, instead.

in `lib`:
[code]

in `test`:
[code]

result of executing the test:
[code]

As expected, the timestamp was set to `nil` by the constructor. But decoding the binary-version gives a defau

[2017-04-15 07:10] fireyang opened #66 "a large proto file compile slow"
Contains a large number of message proto file, compiled very slowly

[2017-04-19 16:57] bitwalker commented on #66
Do you have an example file I can test with? How many messages are defined in the proto?

[2017-04-19 16:59] #63 closed

[2017-04-19 16:59] bitwalker commented on #63
Fixed in master, soon to be released on hex

[2017-05-03 09:35] fireyang commented on #66
https://github.com/fireyang/exprotobuf_performance
40 message and 3 enum; Add a new message every time recompile all

[2017-05-04 00:00] bitwalker commented on #66
Thanks! I'll take a look as soon as possible

[2017-05-09 21:03] dweinstein commented on #66
similar experience here w/ https://gist.github.com/dweinstein/5c2fa9a197974ee0fcf766e67d683854

[2017-05-19 21:52] lmarlow opened #68 "1.2.6 isn't published to hex.pm"
eb5c74b2098fc552f277f7ac1214c26bc260c51a

[2017-05-28 15:11] tomas-abrahamsson commented on #52
FWIW, As of 3.27.0, `gpb` now supports groups.

[2017-05-31 20:26] bitwalker commented on #52
I'll try and test out the new support for groups and close this out, but it may take me a bit to get around to it. In the meantime I've updated `exprotobuf` to use the latest `gpb`.

[2017-05-31 20:29] bitwalker commented on #68
1.2.7 is now on hex. Thanks!

[2017-05-31 20:29] #68 closed

[2017-06-01 01:28] sheharyarn commented on #52
I'll also try out the new version in my project and get back.

[2017-06-08 10:02] burmajam opened #69 ""warning: this clause cannot match" with elixir 1.4.4"
Hi,

*warning: this clause cannot match because a previous clause at line 1 always matches   lib/messages.ex:1* appears when compiling with Elixir 1.4.4. With 1.4.2 there's no such message.

lib/messages.ex contains only:

    defmodule Extreme.Msg do
      use Protobuf, from: Path.expand("../include/event_store.proto", __DIR__)
    end

and event_store.proto file is: https://github.com/exponentia

[2017-06-08 10:20] rpihlak opened #70 "inject does not work without only"
I wrote a .proto file containing a single message:
[code]
I tried to inject this definition into a module as shown in [README.md](https://github.com/bitwalker/exprotobuf/tree/1.2.7#inject-a-definition-into-an-existing-module):
[code]
Creating the message fails:
[code]
However, it started to work after after adding `only` option:
[code]
Creating the message succeeds:
[code]

[2017-06-09 09:03] zmagajna opened #71 "Oneof string decoding into character list"
I have defined the structure as:
[code]
When i create new message for this structure as a string the decoding is returning the character list
[code]

Is this right behavior or a bug?

[2017-06-14 00:09] sheharyarn commented on #52
I finally got the time to try it out today. I don't get syntax error like before, but instead a `CaseClauseError`:

[code]

[2017-06-16 16:38] tomas-abrahamsson commented on #52
aw, right, forgot to say (sorry) that the resulting output format from the parser has expanded slightly, since groups have different wire encoding from sub messages, exprotobuf probably needs to be updated, too.

The list of items that is the output from the gpb parser can now also contain `{{group,Name},Fields}` elements when there are groups, and the type for a field can correspondingly be `{gro

[2017-06-17 20:28] kenbod commented on #69
I can confirm that I'm experiencing the same "issue". I put issue in quotes because it appears that this is just a weird compilation artifact. The warning gets generated but my application still builds and appears to work fine.

The file that generates the warning is simply:

[code]

and Fixr.proto is just an absolute path name to a .proto file that is pulled from my configuration file in config/d

[2017-06-22 18:15] #69 closed

[2017-06-22 18:15] bitwalker commented on #69
A fix for this has been merged and will go out in the next release

[2017-06-26 18:44] bitwalker commented on #71
Closed via PR :)

[2017-06-26 18:44] #71 closed

[2017-06-29 09:53] veetase opened #75 "got a incorrect encode result"
For example:
message Test1 {
  required int32 a = 1;
}
Expect to got <08 96 01>, but got<<8, 150, 1> instead. Did I missed something?

[2017-06-30 06:27] #75 closed

[2017-06-30 18:03] bitwalker commented on #70
I'll take a look!

[2017-06-30 18:23] #70 closed

[2017-06-30 18:24] bitwalker commented on #70
This is fixed in master, I'll push a new release today

[2017-06-30 21:06] bitwalker commented on #66
It looks like the bulk of the time is split between `gpb` parsing and the Elixir compiler - ultimately there isn't much I can do to ease this with the current architecture.

I'm not sure if there is anyway to generate the Elixir source such that compilation is meaningfully faster (at least from a clean state), however one approach would be to generate Elixir source files, and which are then subseq

[2017-06-30 21:14] #52 closed

[2017-07-06 02:46] Cohedrin commented on #70
I seem to still be running into this issue using 1.2.8 (or I'm just doing something horribly obvious wrong).

### Lockfile:
[code]
### Module (without only)
[code]

### Output
[code]

### Module (with only)
[code]

### Output
[code]

[2017-07-06 19:33] Cohedrin opened #76 "Using inject breaks enumerations with proto3"
When using inject alongside enumerations, the namespace of the enumeration modules is inconsistent, causing the call to [get_default](https://github.com/bitwalker/exprotobuf/blob/fc6159d7f6a0b85930b2060d93be6fe3edf25fd9/lib/exprotobuf/decoder.ex#L47) to error with a no match, coming from [here](https://github.com/tomas-abrahamsson/gpb/blob/19f29c4f7fc50763ea51f7f48d0d3c4f3ca4c262/src/gpb.erl#L1221

[2017-07-25 20:37] senthilkumarv opened #77 "Incorrect encoding"
I am have this schema

[code]
Used this data
[code]
Encoding this using exprotobuf produces
[code]

Any other implementation (I used google's implementation in Python & Golang) gives the following
[code]

**What is going wrong because of this:**
I had no issues because of this until I decided to rewrite one part of the API in Go. The client was using Wire to decode response. Since Wire uses ```Boo

[2017-09-15 07:34] rm1138 opened #81 "Support "reserved field""

[2017-09-27 03:03] bitwalker commented on #77
I'm a bit unclear what exprotobuf should be doing here - do you have a reference to the spec for this, and perhaps a bit more detail pointing out what is different and what you think exprotobuf should be doing? It may be the case that this is something which needs to be addressed in gpb, but I'll definitely take a look at this if I know a bit more about what's wrong.

[2017-09-27 03:07] bitwalker commented on #76
If you open a PR with a fix, I'll be happy to work with you on it there, I think we'll have to iterate on it a bit, but if you kick things off I can pick up where you leave off if time is an issue.

[2017-10-31 11:36] monkybrain opened #82 "Are delimiters supported?"
I'm using protobuf for streamed data so need a delimiter for each message sent. This seems to be implemented in most libs for other languages, e.g. [Java](https://developers.google.com/protocol-buffers/docs/reference/java/com/google/protobuf/MessageLite#writeDelimitedTo-java.io.OutputStream-). Does exprotobuf support this?

[2017-12-17 04:55] DavidMikeSimon commented on #61
@bitwalker I'm very interested in this feature as well. Any further news on it? Would it be alright if I workeh on it, and if so, any tips on where to get started?

[2017-12-17 14:52] tiagopog commented on #61
@DavidMikeSimon there's a fork with this feature already working (see #73). The thing is I got very busy with other open|closed source projects and I haven't had enough free time to finish this one, but I'm still planning to do so.

[2017-12-17 14:53] tiagopog commented on #61
Uh, and if you need any guidance for testing this feature from the fork, please let me know.

[2017-12-18 02:07] DavidMikeSimon commented on #61
@tiagopog Thank you! I've been playing around a little with your fork, and I am having some difficulties. The unit tests are failing for me, and it seems to be because the new `Protobuf.compile` function is being given quoted expressions instead of their actual values. For example, the call to `use` in `map_test.exs` looks like this:

[code]

Which should work, but it results in this compilation e

[2017-12-18 12:23] zmagajna opened #85 "UndefinedFunctionError in decoding"
Hi guys,
First great job with the library it is nice and easy to use.

Now to the issue, a few days ago I have noticed that one of the parsers in my code keeps getting some strange errors:
[code]
first, I just thought, there was something wrong with the encoding that I was, but as it turns out, I could encode the messages just fine, but when I try to decode same message I keep getting error above.

[2017-12-19 11:55] vlarok commented on #81
Hi, I have the same problem. Seems it not supported yet.  Please help.
Field
reserved 6;
--------exprotobuf---
defmodule Protobuf.Encoder do
  alias Protobuf.Utils
  alias Protobuf.Field
  alias Protobuf.OneOfField

  def encode(%{} = msg, defs) do
    fixed_defs = for {{type, mod}, fields} <- defs, into: [] do
      {{type, mod}, fields} |> IO.inspect

------IO.Inspect----
{{:msg, Worker.Protobuf

[2017-12-29 19:24] dtrce opened #86 "invalid encoding starting at"
I'm getting the following error when loading the proto file attached:

`** (UnicodeConversionError) invalid encoding starting at <<154, 179, 139, 210, 5, 18, 200, 5, 10, 5, 84, 49, 48, 48, 49, 16, 0, 26, 188, 5, 10, 32, 10, 3, 49, 50, 49, 18, 8, 49, 51, 58, 53, 56, 58, 48, 48, 26, 8, 50, 48, 49, 55, 49, 50, 50, 54, 32, 0, 42, ...>>
    (elixir) lib/string.ex:1840: String.to_charlist/1
    lib/expr

[2018-01-03 13:49] zmagajna commented on #85
#83 This fixes problem, tested on my proto file and code.

[2018-01-04 04:10] mingchuno commented on #81
@bitwalker any idea?

[2018-02-01 10:50] pallix opened #87 "Representation of oneof with tuples"
The current representation of `oneof` field use tuples. This is problematic when using the Poison library to serialize a Protobuf structure to JSON: tuples cannot be converted to JSON (only arrays, maps etc.).

Would it make sense and would it be possible to use an array (possibly optionally if it breaks code) to represent `oneof` fields? This would allow a great interoperability between exprotobu

[2018-02-01 19:50] Ch4s3 commented on #50
[code]
This gives me anargument error with for `:gpb.encode_msg/2`

[2018-02-01 19:59] Ch4s3 commented on #50
Ahh, it seem like a struct is needed.
[code]
The above works for me.

[2018-02-26 14:25] pallix opened #88 "Improve error handling"
When an invalid binary message is passed to the decoder, at least three different errors are thrown by the library (depending of the message):

- MatchError
- FunctionClauseError
- CaseClauseError

They all leak internal details of the library and should be catch by the lib. Only one error should be necessary, specific to the lib, for example "DecodeError".

[2018-03-13 08:28] qinix opened #89 "Why not transform package name to CamelCase?"
Currently, a package `my.under_scored.package` will be translated to `My.Under_scored.Package` in Elixir.

The protobuf's official documents shows that the package name should follow underscore style while it's recommend to use CamelCase in Elixir module name.

So I think maybe `my.under_scored.package` should be translated to `My.UnderScored.Package` in Elixir.

[2018-04-17 12:26] pallix opened #90 "Serialize not working with inject"
`Serializable.serialize` does not work when using `inject`. I have created a project (https://github.com/pallix/exprotobuf_not_serializing) that illustrates the problem:

[code]

I am using `exprotobuf` version `1.2.9`.

[2018-05-12 17:43] mustafaturan commented on #66
@bitwalker Would you please consider to use [enif_protobuf](https://github.com/jg513/enif_protobuf)? It looks it is at least (3 times faster)[https://github.com/jg513/enif_protobuf#performance] than `gbp`

[2018-07-04 09:20] eaguilera23 opened #93 "Negative number into uint32 encodes/decodes incorrectly"
### Set up for replication

[code]

### Replicate issue

[code]

### Related issues (maybe)

https://github.com/mafintosh/protocol-buffers/issues/62

[2018-07-04 13:46] sneako commented on #93
An unsigned integer is only supposed to hold positive values. You should be using `int32` instead if you need to encode negative values.

[2018-07-04 13:48] eaguilera23 commented on #93
Oh ok. I thought it would turn a `-40` into `40` at encoding time. My bad then.

[2018-07-04 14:02] sneako commented on #82
Check out https://github.com/bitwalker/exprotobuf/blob/master/lib/exprotobuf/delimited.ex and https://github.com/bitwalker/exprotobuf/blob/master/test/protobuf/delimited_test.exs

[2018-07-04 17:30] #93 closed

[2019-01-08 14:21] pallix opened #94 "decoding not existing oneof field shoud return an error"
When decoding a message using a oneof with a field that has not been defined by the code doing the decoding, no error is thrown. Instead, the field has the `nil` value. It would be better if the decode function would fail with an explicit error instead of giving an invalid result.

Example:

`one_of.proto`

[code]

This code:
[code]

will return:

[code]

[2019-01-09 09:46] pallix commented on #94
Thinking more about it, a failure would not preferable as this would prevent to decode the message at all: some applications may want to retrieve the available data even if the oneof field cannot be decoded.

The real problem is that it is not possible to distinguish between a missing oneof field and an undecodable oneof field.

[2019-01-21 22:10] #90 closed

[2019-01-21 22:11] #85 closed

[2019-01-21 22:12] bitwalker commented on #24
Should be fixed in master now

[2019-01-21 22:12] #24 closed

[2019-01-22 10:30] pallix opened #97 "Current tests are broken"
Hi,

The tests are currently broken. I am not sure how to fix them.

[code]

[2019-01-22 19:41] #97 closed

[2019-06-08 20:40] marinakr opened #102 "Incorrect decode same item"
[code]
Output:
[code]
My proto file:
[code]

[2019-06-08 20:46] marinakr commented on #102
My fail, protofile contain description and id same code 4, same with statuses
Find it only after posting this issue

[2019-06-08 20:46] #102 closed

[2019-06-29 10:45] Argonus opened #103 "1.2.16 isn't published to hex.pm"
Hi @bitwalker
When 1.2.16 will be released to Hex.pm? There is a lovely feature for adding types to Structs definitions.
Also, if this is not possible, can I add type definition for proto struct definition?

[2019-07-01 17:54] bitwalker commented on #103
I'll make a release today, sorry for the delay!

[2019-07-01 18:00] bitwalker commented on #103
Released!

[2019-07-01 18:00] #103 closed

[2019-07-02 16:54] xinz opened #104 "Upgrade to 1.2.16 with gpb ~> 4.7.1"
Since the latest version 1.2.16 using `gpb ~> 4.0`, there's an issue would be happened if you're using `gpb` >= 4.7.1, I hope [this](https://github.com/tomas-abrahamsson/gpb/pull/167) can resolve this issue for Elixir.

This is a just a note for you, when you upgrade `exprotobuf` to 1.2.16, it should be easily to upgrade with the latest version of `gpb` as well, that would occur an error for your

[2019-07-16 01:56] #104 closed

[2019-09-07 18:17] Doom4535 opened #108 "Automatically generate protobuf message documentation"
Is there a way to link this into ex_doc such that the message structure is included in the generated documentation?

For example
[code]

Gives me this:
![exprotobuf_test_no_doc](https://user-images.githubusercontent.com/6473994/64478428-5e4d9680-d176-11e9-999f-3567ca17ee7a.png)

It would be nice if there was a way to trigger behavior that was more like this:
[code]
Giving an output like this:
![ex

[2019-09-09 16:09] whatyouhide opened #109 "Verify fields passed into MyModule.new/1"
I might be wrong, but from my experiments using proto3 and exprotobuf, it seems like if I have a definition:

[code]

and I compile it with exprotobuf, this happens:

[code]

If I'm not doing anything wrong myself, shouldn't we check that the fields passed into `Foo.new/1` actually match all the fields defined by the schema (that is, `struct!/2` behaviour and not `struct/2` behaviour)?

\cc @bitwa

[2019-09-09 16:36] relistan commented on #109
This is critically needed, IMO

[2019-09-17 20:47] whatyouhide commented on #109
@bitwalker ping?

[2019-09-20 10:24] whatyouhide commented on #109
Seems like activity on the repo is very low, and we've switched to something else so this is not personally an issue for us anymore. @bitwalker I still believe that, provided I'm not missing something, this is a bug and the described behavior would be the correct one, but I need to keep my issues tidy so I'll close this 😄  Please feel free to reopen in the future!

[2019-09-20 10:24] #109 closed, assigned to nobody

[2019-12-04 12:08] cheng81 commented on #81
I have the same problem!

[2019-12-05 08:00] cheng81 commented on #81
@bitwalker I made a PR #111 to solve this issue

[2020-07-03 14:50] rbino opened #113 "ExProtobuf fails with gpb 4.13"
Crash message:
[code]
[This](https://elixirforum.com/t/ex-protobuf-not-parsing-proto-file/32807) also seems another instance of the same problem.

It seems that gpb 4.13 [changed its internal structure](https://github.com/tomas-abrahamsson/gpb/commit/a3633259d7a41e16fd2c83fab2f13d64265817f8) and ExProtobuf does not handle the `:defaulty` occurrence.

I've opened #112 to fix the problem

[2020-07-10 18:28] tomas-abrahamsson opened #114 "Use functions in gpb_compile instead of in gpb_parse and gpb_scan"
I consider the functions in `:gpb_parse` and `:gpb_scan` to be internal to gpb, but exprotobuf uses them for parsing. I'm intending to change gpb_parse and gpb_scan in an upcoming rewrite of the parser, and would ideally like to avoid keeping functions for backwards compatibility in modules internal to gpb, and instead keep the api in [`:gpb_compile`](https://hexdocs.pm/gpb/gpb_compile.html) stabl

[2020-07-21 15:20] tomas-abrahamsson commented on #114
One idea is to use the `{{msg_containment, "⟨.proto⟩"}, [⟨msg name⟩, ...]}` and `{{enum_containment, "⟨.proto⟩"}, [⟨enum name⟩, ...]}` elements that are present in defs. (the file names are Erlang strings, not binaries, sorry about using Erlang notation, don't know how to express this in Elixir syntax) There are also other `⟨x⟩_containment` elements for services, rpcs and packages, when such defin

[2020-09-01 11:37] OpakAlex opened #115 "function :gpb_scan.string/1 is undefined or private"
[code]

[2020-09-01 13:45] OpakAlex commented on #115
fixed via:
[code]

[2020-09-01 13:45] #115 closed, assigned to nobody

[2020-09-05 22:26] tomas-abrahamsson commented on #113
I've pushed gpb 4.14.1 which I think might make exprotobuf work again.